{% load i18n nucleus_tags static admin_list %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&amp;subset=latin-ext">
    <link rel="stylesheet" type="text/css" href="{% static 'nucleus/css/app.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
    <div class="page-wrapper form-layout">
        <div class="main-wrapper">
            <div class="main">                
                <div class="content-wrapper">
                    <div class="content">                        
                        {% block content %}
                            {{ content }}
                        {% endblock %}
                    </div><!-- /.content -->

                    {% block sidebar %}{% endblock %}
                </div><!-- /.content-wrapper -->
            </div><!-- /.main -->
        </div><!-- /.main-wrapper -->
    </div><!-- /.page-wrapper -->
</body>
</html>
