<div class="heading-wrapper">
    <div class="heading">
        {% if image or initials %}
            <div class="heading-image{% if initials %} initials{% endif %}{% if rounded %} rounded{% endif %}"{% if background_color %} style="background-color: {{ background_color }};"{% endif %}>
                {% if image %}
                    <img src="{{ image }}" alt="{{ title }}">
                {% else %}
                    <span>{{ initials }}</span>
                {% endif %}
            </div><!-- /.heading-image -->
        {% endif %}

        <div class="heading-content">
            {% if title %}
                <h2>{{ title }}</h2>
            {% endif %}

            {% if subtitle %}
                <h3>{{ subtitle }}</h3>
            {% endif %}
        </div><!-- /.heading-content -->
    </div><!-- /.heading -->
</div><!-- /.heading -->