#changelist-filter {
  background-color: transparent;

  h2, h3 {
    background-color: transparent;
    color: var(--color-grey-darker);
    font-weight: 700;
    margin: 0 0 24px 0;
    padding: 0;
    text-transform: none;
  }

  p {
    margin: 0;
  }

  form, ul {
    border: 0 !important;
    list-style: none;
    margin: 0 0 40px 0;
    overflow: visible !important;
    padding: 0 !important;
    position: relative;
  }

  form {
    button {
      color: var(--color-grey-base) !important;
      font-size: 11px !important;
      font-weight: 700 !important;
      height: auto;
      line-height: 20px;
      position: absolute;
      right: 0;
      top: 0;
      text-transform: uppercase;
    }
  }

  ul {
    margin-top: -8px;

    li {
      line-height: 20px;
      margin: 0;

      &:last-child {
        a {
          border-bottom: 0;
        }
      }

      &.selected {
        border: 0;
        margin: 0;
        padding: 0;

        a {
          color: var(--color-primary-base);
          font-weight: 700;

          &:hover {
            color: var(--color-primary-base);
          }
        }
      }

      a {
        border-bottom: 1px solid var(--color-grey-lighter);
        color: var(--color-grey-base);
        display: block;
        font-size: 14px;
        padding: 8px 0;

        &:hover {
          color: var(--color-grey-dark);
        }
      }
    }
  }
}

#changelist-filter .admin-numeric-filter-slider .noUi-connect {
  background-color: var(--color-primary-base);
}