.page-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main-wrapper {
  background-color: var(--color-grey-lightest);
  flex-grow: 1;
  padding: 0 var(--content-padding);

  .popup & {
    padding: var(--content-padding);
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--content-padding) 0;

  .popup & {
    padding: 0;
  }
}

#content-main {
  float: none;

  .object-tools {
    display: none;
  }

  .login & {
    margin: 0 auto;
    max-width: 320px;
    padding: 80px 0;
  }
}

.page-wrapper.form-layout {
  .main-wrapper {
    display: flex;
    padding: 0;

    .main {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 0;
      width: 100%;

      .content-wrapper {
        width: 100%;

        h2 {
          color: var(--color-grey-darkest);
          font-size: 18px;
          font-weight: 600;
          margin: 0 0 32px 0;
        }
      }
    }
  }
}