.box {
  background-color: #fff;  
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2px var(--color-grey-light);
  padding: 24px;

  table {
    margin: 0 -24px;
    width: calc(100% + 48px);

    td, th {
      padding: 16px 24px;
    }

    td {
      border-color: var(--color-grey-lighter);      
      vertical-align: middle;
    }

    tr {
      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }
  }

  .chart {
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}

.box-title {
  align-items: center;
  border-bottom: 1px solid var(--color-grey-lighter);
  display: flex;
  flex-direction: row;
  margin: 0 -24px 24px -24px;
  padding: 0 24px 24px 24px;

  h3 {
    color: var(--color-grey-black);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }

  p {
    color: var(--color-grey-base);
    margin: 0;
  }
}

.box-title-icon {
  margin: 0 16px 0 0;
}