.heading-wrapper,
#changelist-form .results table#result_list .heading-wrapper {
    .heading {    
        align-items: center;
        display: flex;
        flex-direction: row;

        .heading-image {
            margin: 0 16px 0 0;
                
            img {
                display: block;
                height: 36px;
                width: auto;
            }

            &.initials {
                align-items: center;
                background-color: var(--color-primary-base);
                border-radius: 2px;
                color: #fff;
                display: flex;
                flex-direction: row;
                font-size: 12px;
                font-weight: 700;
                height: 36px;
                justify-content: center;
                text-transform: uppercase;
                width: 36px;                
            }

            &.rounded {
                border-radius: 50%;
                overflow: hidden;
            }
        }        

        .heading-content {
            h2 {
                background: none;
                color: var(--color-grey-darker);
                font-weight: 600;
                font-size: 14px;
                margin: 0;
                padding: 0;
            }
    
            h3 {
                color: var(--color-grey-dark);
                font-size: 13px;
                font-weight: 600;
                margin: 4px 0 0 0;
                padding: 0;
            }
        }        
    }
}

